@use 'src/styles/vars' as v;

.newsletterform {
    width: 95%;
    display: flex;
    flex-direction: column;
    
}
.bookingform__input {
    width: 100%;
    color: v.$color-graytext;
    border-radius: .5rem;
    height: 4.5rem;
    border: none;
    font-size: 1.6rem;
    padding-left: 2rem;
    font-family: v.$font-paragraph;
    &--newsletter {
        margin-bottom: 2rem;
    }
}
.button--blue {
    color: v.$color-white;
    text-decoration: none;
    font-size: 1.8rem;
    background-color: v.$color-blue;
    border-radius: 50rem;
    width: 80%;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    margin: 2rem 0;
}