@use 'src/styles/vars' as v;


.schooldescription__image {
    border-radius: .5rem;
}
.check {
    width: 1.5rem;
    margin-right: 3rem;
    color: v.$color-blue;
    width: 3rem;
    height: 3rem;
}