@use 'src/styles/vars' as v;

.navContainer {
    background-color:v.$color-gray;
    margin: 2rem;
    gap: 2rem;
    color: v.$color-bluebtn;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}