@use 'src/styles/vars' as v;

.blogarticle {
    width: 20%;
    border-radius: .5rem;
    box-shadow: 0 .1rem .4rem v.$color-grayborder;
    color: v.$color-graytext;
    text-align: center;
    background-color: v.$color-gray;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
    &:hover {
        background-color: v.$color-darkgray;
        box-shadow: 0 .5rem .8rem v.$color-grayborder;
        transform: scale(1.05);
    }
    &__image {
        max-width: 100%;
        width: 100%;
        height: 20rem;
        border-radius: .5rem;
    }
    &__title {
        font-family: v.$font-title;
        color: v.$color-darkblue;
        font-size: 2.2rem;
        font-weight: 700;
        padding: 1.5rem 0 1rem;
    }
    &__details-page {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    &__img {
        width: 1.5rem;
        height: 1.5rem;
        color: v.$color-blue;
        margin: 0 0.5rem;
    }
    &__description {
        padding: 2rem;
        line-height: 2.5rem;
    }
}
.article {
   &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3rem;
    margin: 2rem;
    justify-content: center;
}
}
.content__subtitle--border {
    text-align: center;
}
@media screen and (max-width: 1024px){
    .blogarticle {
        width: 95%;
    }
}