@use 'src/styles/vars' as v;
.teacherslist {
    text-align: center;
    padding: 4rem 0;
}
.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0 6rem;
    width: 25%;
    &__container {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        margin: 3rem 8rem;
        justify-content: center;
    }
    &__image {
        border-radius: 50%;
        max-width: 100%;
    }
    &__name {
        font-family: v.$font-title;
        color: v.$color-darkblue;
        font-weight: 700;
        font-size: 2.5rem;
    }
    &__spe {
        font-style: italic;
        color: v.$color-graytext;
    }
}
@media screen and (max-width: 1024px){
    .teachers {
        width: 80%;
}
}